/* .table-products{
    margin-top: 5rem;
} */

.button-add-product{
    margin-left: auto;
}

.search-product{
    width: 12.9rem;
    height: 3rem;
    border-radius: 5px;
    border-style: none;
    padding: 0.3rem;
    /* margin-right: auto;
    margin-left: 100%; */
}

.container-search-product{
    display: flex;
    justify-content: right;
}

.tittle-product{
    display: flex;
    justify-content: center;
   
}