.container-my-perfil-user{
    display: flex;
    flex-direction: column;
}
.form-my-perfil-users{
    display: flex;
    padding: 3rem 0;
    flex-direction: column;
    align-items: center;
}
.form__first_my_perfil{
    display: flex;
    padding-top: 15px;
    gap: 1em;
}
.form__second_my_perfil{
    display: flex;
    padding-top: 1.8em;
    gap: 1em;
}
.buttons__users_my_perfil{
    display: flex;
    padding-top: 1em;
    justify-content: center;
    gap: 15px;
}
.btn__users__edit_my_perfil{
    background-color: #00376B !important;
}
/* .btn__users__password_my_perfil{
    background-color: #00376B !important;


}
.btn__users__password_my_perfil:hover{
    background-color: #c4c4c4 !important;
    border-color: #e8e8e8   !important;
    color: #00376B !important;

} */
.btn__users__edit_my_perfil:hover{
    background-color: #c4c4c4 !important;
    border-color: #e8e8e8   !important;
    color: #00376B !important;

}
@media (max-width: 809px){
    .form__first_my_perfil{
        flex-direction: column;;
        padding-top: 1px;
    }
    .form__first_my_perfil > span{
        margin: 6px
    }
    .form__second_my_perfil{
        flex-direction: column;
    }
    .form__second_my_perfil > span{
        margin: 6px;
    }
    .container-my-perfil-user{
        max-width: 1200px;
        min-height: 919px;
    }
}