.table-categories-column__actions{
    width:20rem
}

.table-categories-column__id{
    width:10rem
}

.category-badge-status-active{
    background-color: rgb(28, 165, 67);
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
    font-weight: 500;
    margin: auto;
    font-size: .8rem;
}

.category-badge-status-inactive{
    background-color: rgb(206, 154, 31);
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
    font-weight: 500;
    margin: auto;
    font-size: .8rem;
}

.category-badge-status-na{
    background-color: rgb(243, 59, 59);
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    margin: auto;
}