.create-category-form{
    display: flex;
    flex-direction: column;
    
}

.create-category__table{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem 0 1rem 0;
    width: 20rem;
}

.dc-space-between{
    margin: 0 1rem 0 0;
}

.create-category-form__btns{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.dialog-edit{
    border-radius: 3rem;
}