.create-brand-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.create-brand__table{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem 0 1rem 0;
    width: 20rem;
}

.dc-brand-between{
    margin: 0 1rem 0 0;
}

.create-brand-form__span{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.create-brand-buttons{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}