


.create-rol-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    
}

.jjj{
   
    width: 20rem;
}

.create-product-buttons{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin-bottom: 1rem;
}