.product-image{
    width: 6.25rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height:6.25rem ;
    object-fit: cover;
    border-radius: 5px;
}
.info-image-not-photo{
    width: 10rem;
}

.button-column{
    display: flex;
    justify-content: space-around;

}

.table-product{
    margin-top: 0.6rem;
}

.table-product--unable{
    background-color: aqua;
}
.product-badge-state-active{
    background-color: rgb(28, 165, 67);
    width: 5rem;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
    font-weight: 500;
    font-size: .8rem;
}


.product-badge-state-inactive{
    background-color: rgb(206, 154, 31);
    width: 5rem;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
    font-weight: 500;
    font-size: .8rem;
}

.product-badge-state-na{
    background-color: rgb(243, 59, 59);
    width: 5rem;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
   
}
.info-dialog__body-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 0;
}

.info-image{
    width: 30rem;
    height: 22rem;
    object-fit: cover;

}

.info-dialog__image-container{ 
    display: flex;
    justify-content: center;
}
hr{
    border: .05rem dashed black;
    
}

.info-dialog__tittle{
    margin: auto auto 1rem auto;
}
.info-dialog__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h6{
    font-weight: bold;
}

.info-dialog__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

