.text-center{
    margin: 1rem auto 1rem auto;
}

.create-rol-form--header{
    margin: 1rem 0 1rem 0;
}

.create-rol-form--input{
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}

.create-rol-form--body{
    margin: 3rem 0 1rem 0;
}

.create-rol-form--body-text{
    margin: 1rem 0 2rem 0;
}

.create-rol-form--body-panel{
    margin: 1rem 0 1rem 0;
}
.checkedPermissionsRol{
    margin: 0 1em;
}
.btn-create-rol{
    display: flex;
    padding: 1rem 0;
}
.multiselect_modules_roles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 0 2rem;
}

.multiselect_modules_roles_options  .p-multiselect-label{
    display: flex;
    flex-direction: column;
}
.buttons_role_create_edit{
    display: flex;
    justify-content: flex-end;
}