.create-product-tittle{
    display: flex;
    justify-content: center;

}

.create-sale-form{
    display: flex;
  flex-direction: column;
  width: 30vw;
    margin: 2rem auto 2rem auto;
}

.create-sale-form__input{
    width: 20rem;
    margin: .5rem 0 .5rem 0;
    justify-self: center;
}

.create-sale-form__span{
    display: flex;
    flex-direction: column;
}