.create-sale-tittle{
    display: flex;
    justify-content: center;

}

.create-sale-form{
    display: flex;
  flex-direction: column;
  width: 25rem;
    margin: 2rem auto 2rem auto;
}

.create-sale-form__input{
    width: 20rem;
    margin: .5rem 0 .5rem 0;
    justify-self: center;
}

.create-sale-form__span{
    display: flex;
    flex-direction: column;
}

.p-success{
    color: rgb(46, 176, 46);
    margin-top: .5rem;
}

.create-sale-tittle__button{
    display: flex;
    flex-direction: column;
    width: 16rem;
}

.create-sale-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 2rem 0 ;
}

.create-sale-header__card{
    background-color: white;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 10px 10px 30px -14px rgba(0,0,0,0.75);
}