.create-product-tittle{
    display: flex;
    justify-content: center;

}

.create-sale-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40vw;
    margin: 2rem auto 2rem auto;
}

.create-sale-form__input{
    width: 20rem;
    margin: .5rem 0 .5rem 0;
    justify-self: center;
}