.create-product-buttons{
    margin-top: 1rem;
}

.create-sale-form__button{
    display: flex;
    justify-content: flex-end;

}

.create-sale-form__card{
height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;


}
.p-card-content{
    height: 11rem;
}
.create-product-form{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-right: 1rem

}

.status-sale-card{
    margin: 0 .5rem 0 .5rem;
}

.buttons-sale{
    text-align: center;
}
.cancel-sale-form__input{
    width: 46rem;
    height: 6rem;
}